@import url(http://fonts.googleapis.com/css?family=Raleway);


$primaryFont: 'Raleway';
$generalPadding: 0.5%;
$generalFontSize: 1.2em;
$generalBackground: #D3D3D3;
$white: #fff;
$body: #000;
$black: black;
$red: red;
